/** Form **/
form .gdo-container button.gdo-icon { float: left; margin: 0; top: -5px; margin-right: 4px; }
form .gdo-container { padding-top: 12px; }
.gdt-divider { border-bottom: 1px dashed #333; margin-top: 6px; }
.gdo-form-title { margin: 8px 0; }
.gdo-required label:after { content: "*"; }
.ui-mini { line-height: 1.6; }
.gdo-container.gdt-anticsrf { padding: 0; }
.gdt-captcha div.ui-textinput { width: 200px; }
img.gdo-captcha-img { position: relative; top: 0px; margin-left: 12px; }
textarea.wysiwyg { max-width: 70%; }
a.ui-selectmenu-button { width: 100%; }
.gdo-container.gdo-has-error { padding-bottom: 8px; background-color: mistyrose; border: 1px dashed #333; }
div.gdo-form-error { font-weight: bold; clear: both; padding: 4px; }

/** Autocomplete **/
.gdo-autocomplete-listview li:hover { cursor: pointer; }
div.ui-field-contain.gdo-autocomplete div.ui-controlgroup { margin-left: 22%; }
.ui-content .gdo-autocomplete-listview.ui-listview-inset { margin: 0; }
div.easy-autocomplete > input { padding-left: 1.75em; border: none; }

/** File **/
.gdo-file-preview img { max-width: 100%; max-height: 240px; }

/** Icon **/
.ui-controlgroup .ui-button-icon-only { padding: 0; }
.gdo-icon { display: inline-block; border: 2px solid #ddd; border-radius: 8em; margin: 0; margin-right: 6px; padding: 2px; box-sizing: content-box; }
.ui-icon-space { width: 6px; height: 6px; }
.gdo-fa-icon { min-width: 20px; text-align: center; }

/** Panel **/
.gdo-panel { margin-bottom: 8px; }
.gdo-error, .gdo-exception { background: mistyrose; font-weight: bold; }
.gdo-success { background: lime; font-weight: bold; margin-bottom: 16px; line-height: 32px; }
.gdo-success > div.fl { line-height: 30px; }
.gdo-error p, .gdo-success p { margin-bottom: 0; }
pre.gdo-exception { white-space: pre-wrap; }
.debug-exception-title { line-height: 20px; }
.gdo-error .gdo-error-message { position: relative; top: 5px; }

/** Button **/
.ui-button { line-height: 1.7; }

/** Menu **/
.gdt-menu a.gdt-button { padding: 8px; }
.gdt-menu a.gdt-button .ui-listview-item-icon { position: relative; top: 4px; }

/** Selectmenu **/
.ui-selectmenu .ui-mini span.ui-selectmenu-button-text { line-height: 20px; vertical-align: middle; }

/** Table **/
.gdo-table a.gdt-button { margin: 0; padding: 0; }
.gdo-table th { vertical-align: bottom; }
.gdo-table a.sel span { background-color: gold; }
.gdo-table { overflow-x: auto; }

/** Header **/
.ui-toolbar-header a { align-self: center; text-overflow: inherit; }

/** Footer **/
.gdo-perf-bar { padding: 0 8px; }

/** Sidebar **/
.gdo-sidebar h3.gdt-divider { font-size: 16px; }
#gdo-left-panel a { text-align: left; }
#gdo-right-panel a { text-align: right; }

/** List **/
.gdt-list ul.ui-listview { margin: 0 -1em; }
/* .gdt-list ul.ui-listview li:hover { cursor: pointer; } */
.gdt-list .gdo-container { padding: 0; }
.gdt-list div.list-title { margin-bottom: 8px; }
ul.ui-listview li.gdt-list-item { display: flex; flex-direction: row; }
.gdt-list-item > span { display: flex; flex: 1 1 auto; flex-direction: column; }
/* .gdt-list-item * { overflow-wrap: anywhere; word-break: break-all; } */
.gdt-list-item a { word-break: break-all; white-space: normal; }
.ui-listview > li.gdt-list-item p { white-space: break-spaces; word-break: break-word; }
.gdt-list-item span.gdt-li-actions { flex: 0 0 auto; align-self: center; }
ul.ui-listview .gdt-list-item > h3 { display: flex; }
ul.ui-listview .gdt-list-item .gdt-li-avatar { margin-right: 8px; align-self: center; }
.gdt-li-upper { display: flex; flex-direction: row; }
.gdt-li-title-texts { display: flex; flex-direction: column; width: 100%; }
.gdt-li-title-texts > * { line-height: 22px; }
.gdt-li-actions a { opacity: 0; }
.gdt-list-item .gdo-container.flx-row > * { margin-right: 8px; margin-bottom: 0; }
.ui-selectmenu .ui-listview-item-has-count.ui-button { padding-right: 1em; }
ul[role=listbox] a.ui-button.ui-checkbox-on { background-image: url("../bower_components/jquery-mobile/dist/images/icons-png/check-black.png")!important; }
ul[role=listbox] a.ui-button.ui-checkbox-on { background-repeat: no-repeat; background-position: 12px center; }
ul[role=listbox] a.ui-button { padding-left: 32px; }

/** Card **/
.gdt-card-upper { display: flex; padding-bottom: 8px; }
.gdt-card-avatar { flex: 0 0 auto; margin-right: 8px; align-self: center; }
.gdt-card-title-texts { display: flex; flex-direction: column; flex: 1 1 auto; font-size: 16px; font-weight: normal; }
.gdt-card-title { flex: 1 1 auto; display: flex; font-weight: bold; }
.gdt-card-subtitle { flex: 1 1 auto; display: flex; }
.gdt-card .gdo-container.flx-row > * { margin-right: 8px; margin-bottom: 0; }
.gdt-card-title-texts .gdo-container * { line-height: 22px; }
.gdt-card-middle { border-top: 1px solid #666; }
.gdt-card-fields { padding: 8px; display: grid; grid-template-columns: auto 1.5fr; grid-template-rows: auto; gap: 0px 0px; grid-template-areas: ". ."; } 
.gdt-card-fields > *:nth-child(2n-1) { text-align: right; margin-right: 8px; }
.gdt-card-lower { border-top: 1px solid #666; }
.gdt-card-divider { background: #eee; margin-top: 16px; }
.gdt-card .gdt-message { text-align: left; grid-column-start: 1; grid-column-end: 3; }
.gdt-card-title-texts label { margin: 0; }
.gdt-card-title-texts .gdt-container > * { margin-right: 8px; }

/** Pagemenu **/
.gdo-pagemenu { display: block; height: 32px; line-height: 32px; margin: 8px 0; }
.gdo-pagemenu ul { display: block; height: 32px; line-height: 32px; }
.gdo-pagemenu li { display: inline-block; text-align: center; min-width: 32px; border: 1px solid #999; background: #ddd; }
.gdo-pagemenu a {  padding: 0px 8px; }
.gdo-pagemenu li:hover { background: #eee; }
.gdo-pagemenu .page-selected { background: #fff; }

/** Bars **/
.gdo-container { width: 100%; }
